.popup {
    margin-left: 19px;
    margin-right: 19px;
    width: 282px;
    height: 322px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -161px;  /* Negative half of height. */
    margin-left: -141px;  /* Negative half of width. */
    z-index: 99;

    display: none;
}
