.popup {
    width: 282px;
    height: 322px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -161px;  /* Negative half of height. */
    margin-left: -141px;  /* Negative half of width. */
    z-index: 99;

    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; */
}

@media screen and (min-width: 1280px) { 
    .popup {
        width: 430px;
        height: 330px;
        margin-top: -165px;  /* Negative half of height. */
        margin-left: -215px;  /* Negative half of width. */
    }
}
