.popup__container-form-handler-button {
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.popup__container-form-handler-button:hover {
    transition: .4s;
    opacity: 80%;
}