.page {
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: Arial, sans-serif;
    color: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
  }