.profile {
    margin-top: 38.25px;
    margin-left: 19px;
    margin-right: 19px;
    display: grid;
    place-items: center;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .profile {
        display: grid;
        grid-auto-flow: column;
        place-items: start;
        margin-left: 100px;
        margin-right: 100px;
    }

    .profile div {
        display: flex;
        justify-content: flex-start;
        column-gap: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .profile {
        margin-left: 200px;
    }
}