.profile__add {
    margin-top: 36px;
    background-color: #000;
    border: none;
    border: 2px solid #fff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px) { 
    .profile__add {
        width: 150px;
        margin-top: 0;
        align-self: center;
    }
}