.image__container-name {
    color: #fff;
    position: absolute;
    bottom: -40px;
    font-family: 'inter';
    font-size: 12px;
}

@media screen and (min-width: 1280px) { 
    .image__container-name {
        bottom: 0;
    }
}