.image__container-name {
    color: #fff;
    position: absolute;
    transform: translateY(300px);
    font-family: 'inter', Arial, sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 1280px) { 
    .image__container-name {
        bottom: 0;
        transform: translateY(40px);
    }
}