.profile__info-description {
    margin: 0;
    font-size: 14px;
    text-align: start;
}


@media screen and (min-width: 1280px) { 
    .profile__info-description {
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
    }
}