.profile__info {
    margin-top: 26.25px;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1280px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}