.image {
    margin-left: 19px;
    margin-right: 19px;
    width: 240px;
    height: 299px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -149.5px;  /* Negative half of height. */
    margin-left: -120px;  /* Negative half of width. */
    z-index: 99;
}