.image__container-close {
    position: absolute;
    left: 242px;
    top: -30px;
    cursor: pointer;
    object-fit: cover;
}

.image__container-close:hover {
    transition: .4s;
    opacity: 60%;
}